* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  background: #edf2f8;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 50px auto;
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-gap: 20px;
}

.card1 {
  background-color: #743ec9;
  /* grid-column: 1/3; */
  color: #ffffff;
  border-radius: 10px;
}
.card2 {
  background-color: #49556b;
  /* grid-column: 3/4; */
  color: #ffffff;
  border-radius: 10px;
}
.card3 {
  background-color: #ffffff;
  /* grid-column: 4/5;
  grid-row: 1/3; */
  border-radius: 10px;
}
.card4 {
  background-color: #ffffff;
  /* grid-column: 1/2; */
  border-radius: 10px;
}
.card5 {
  background-color: #191f2d;
  /* grid-column: 2/4; */
  color: #ffffff;
  border-radius: 10px;
}
.first-text {
  font-size: 20px;
  color: lihghtgray;
}
.second-text {
  font-size: 16px;
  color: gray;
}
.prof {
  display: flex;
  align-items: center;
  gap: 15px;
}
.img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid white;
}
h1 {
  font-size: 14px;
}
h2 {
  font-size: 12px;
}

/*breakpoint for tab screen size*/
@media screen and (min-width: 768px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}
/*breakpoint for desktop screen size*/
@media screen and (min-width: 1024px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
  .card1 {
    grid-column: 1/3;
  }
  .card2 {
    grid-column: 3/4;
    grid-row: 1/3;
  }
  .card3 {
    grid-column: 4/5;
    grid-row: 1/3;
  }
  .card4 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .card5 {
    grid-column: 2/4;
    grid-row: 2/3;
  }
}
